pandas == 1.3.5
numpy == 1.21.6
pydeck == 0.8.0
plotly.express == 0.4.1
scikit-learn == 1.0
streamlit == 1.22.0
xgboost == 1.6.2
pandas-profiling==2.10.0
streamlit-pandas-profiling==0.1.1
Jinja2==3.0.3
shap == 0.41.0
tqdm==4.49.0
nltk==3.4.5
spacy==2.3.2
textblob==0.15.3
cython==0.29.3
fasttext==0.9.1
lime==0.1.1.36
