.css-uf99v8 {
    background-image: linear-gradient(to bottom left, rgba(128, 0, 173, 1), rgba(156, 150, 158, 0));
}

.css-1p05t8e {
    background-color: black;
    border-radius: 1rem;
}

.css-1hynsf {
    background-color: black;
    border-radius: 1rem;
}